<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LocationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41d4ff2cfcc82562ad2645c005bd154a97225275" />

        <activity android:name=".LoginAndRegister.LoginActivity" />
        <activity
            android:name=".LoginAndRegister.RegisterActivity"
            android:parentActivityName=".LoginAndRegister.LoginActivity" />
        <activity
            android:name=".SubjectActivity"
            android:label="@string/title_activity_subject"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".EditArticleActivity"
            android:label="@string/title_activity_edit_article"
            android:parentActivityName=".SubjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArticleActivity"
            android:parentActivityName=".SubjectActivity" />
        <activity
            android:name=".RecyclerView.ReplayActivity"
            android:label="@string/title_activity_replay"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>